body{
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.container{
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 30px;
}
.auth {
    text-align: center;
    margin: 0 auto;
}

.auth div {
    display: inline-block;
}

.menu {
    position: relative;
}

.right-side-cont {
    position: relative;
    left: 240px;
    width: 800px;

}

.menu ul {
    position: fixed;
    width: 160px;
    margin: 0px;
    border: 1px solid;
    background: #424140;
    padding: 0px;
}

.menu li {
    /*border: 1px solid black;*/

    font: 16px "Times New Roman";
    border: 1px solid black;

}

.menu li div {
    padding: 6px;
    color: white;
    font-family: "Times New Roman";

}

.menu li:hover {
    background-color: black;
    color: white;
}

.main-text-name {
    text-align: center;
    font-size: 30px;
    font-family: cursive;
}

.search-song-inp {
    width: 50%;
    margin: 0 auto;
}

.search-song-but {
    text-align: center;
}

#progress {
    width: 100%
}

audio {
    width: 100%;
}

.auth-pan {
    margin: 0 auto
}